body {
  background-color: hotpink;
  background-image: url(../images/background.jpg);
  // background-size: cover;
  color: white;
  font-family: helvetica;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  font-size: 23px;
}

.landing {
  margin-top: 35vh;
  margin-bottom: 35vh;
}
